@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
h1 {
  font-family: "Fredericka the Great", Verdana, Geneva, Tahoma, sans-serif;
}

h2,
h5 {
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../images/wall4.png);
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin-top: 100px;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.meImg {
  max-width: 200px;
  border-radius: 15px;
  border: 2px solid #343a40;
}

.welcome,
.aboutMe,
.knowledge,
.earlier,
.contact {
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #343a40;
  padding: 20px;
}

.welcome p,
.aboutMe p,
.knowledge p,
.earlier p,
.contact p {
  margin-left: 20px;
}

.aboutMe p {
  max-width: 800px;
  margin: auto;
  margin-top: 12px;
}

.knowledge > * {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

.fab {
  font-size: 100px;
  color: #343a40;
  margin-top: 10px;
  margin-bottom: 30px;
}

.skill_container {
  text-align: center;
}

.earlier-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[1];
      grid-template-columns: repeat(1, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  gap: 30px;
}

.card {
  position: static !important;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form label {
  display: none;
}

form div {
  margin-top: 20px;
}

input, textarea {
  border-radius: 8px;
  width: 500px;
}

input {
  height: 40px;
}

form button {
  width: 200px;
}

.hidden {
  display: none;
}

footer .fab {
  font-size: 30px;
  color: #f2f2f2;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  background-color: #343a40;
  text-align: center;
}

@media (min-width: 768px) {
  .welcome {
    gap: 30px;
  }
  .meImg {
    max-width: 300px;
  }
  .card {
    width: 25rem !important;
  }
}

@media (min-width: 992px) {
  .welcome {
    gap: 150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .meImg {
    max-width: 400px;
  }
  .knowledge > * {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .card {
    width: 30rem !important;
  }
}

@media (min-width: 1200px) {
  .earlier-content {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

.navbar {
  position: fixed !important;
  width: 100%;
}

.navbar .navbar-brand {
  font-size: 20px;
  margin-left: 25px;
  font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .nav-item {
  margin-top: 17px;
}

.navbar .nav-item .nav-link {
  color: #f2f2f2 !important;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media (min-width: 480px) {
  .navbar .navbar-brand {
    font-size: 30px;
  }
}
/*# sourceMappingURL=style.css.map */