html,
body {
    height: 100%;
}

body {
    background-image: url(../images/wall4.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.wrapper {
    flex: 1 0 auto;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.meImg {
    max-width: 200px;
    border-radius: 15px;
    border: 2px solid #343a40;
}

.welcome, 
.aboutMe,
.knowledge,
.earlier,
.contact {
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    align-items: center;
    border: 1px solid #343a40;
    padding: 20px;
}

.welcome p, 
.aboutMe p,
.knowledge p,
.earlier p,
.contact p {
    margin-left: 20px;
}

.knowledge > *{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.fab {
    font-size: 100px;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 30px;
}

.skill_container {
    text-align: center;
}

footer .fab {
    font-size: 30px;
    color: #f2f2f2;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: #343a40;
    text-align: center;
}

@media (min-width:768px) {
    .welcome {
       gap: 30px; 
    }

    .meImg {
        max-width: 300px;
    }
}

@media (min-width:992px) {
    .welcome {
        gap: 150px;
        flex-direction: row; 
     }
 
     .meImg {
         max-width: 400px;
     }

     .knowledge > *{
        grid-template-columns: repeat(3, auto);
    }
 }