h1 {
    font-family: "Fredericka the Great", Verdana, Geneva, Tahoma, sans-serif;
}

h2, 
h3 {
    font-family: "Playfair Display", Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}